<section id="side-bar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sticky-top" style="max-width: 270px; height: 100vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        {% comment %} <li class="nav-item">
            <a href="#" class="nav-link " >
              
              Home
            </a>
          </li> {% endcomment %}
          <li>
            <a id="dashboard" href="{% url 'user:Dashboard' %}" class="nav-link text-white d-flex align-items-center" aria-current="page">
                <span class="material-symbols-outlined">
                    dashboard
                </span>
              Dashboard
            </a>
          </li>
          <li>
            <a id="volunteers" href="{% url 'user:Volunteers' %}" class="nav-link text-white d-flex align-items-center">
                <span class="material-symbols-outlined">
                    group_add
                </span>
              Volunteers
            </a>
          </li>
          <li>
            <a id="managecauses" href="{% url 'user:ManageCauses' %}" class="nav-link text-white d-flex align-items-center">
                <span class="material-symbols-outlined">
                    network_intelligence
                </span>
              Manage Causes
            </a>
          </li>
          <li>
            <a id="events" href="{% url 'user:ManageEvents' %}" class="nav-link text-white d-flex align-items-center">
                <span class="material-symbols-outlined">
                    event
                </span>
              Manage Events
            </a>
          </li>
          <li>
            <a id="profile" href="" class="nav-link text-white d-flex align-items-center">
                <span class="material-symbols-outlined">
                    manage_accounts
                </span>
              Profile
            </a>
          </li>
          <li>
            <a id="donationacc" href="" class="nav-link text-white d-flex align-items-center">
                <span class="material-symbols-outlined">
                    account_balance_wallet
                </span>
              Donation Accounts
            </a>
          </li>
    </ul>
</section>