body{
    margin: 0;
    padding: 0;
}
#home-header{
    background-image: url("../images/pexels-lagos-food-bank-initiative-8060428.jpg");
    background-image: url("../images/pexels-ron-lach-9169661.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#call-to-action{
    margin-top: 9rem;
    max-width: 50%;
}
nav li a{
    font-size: 1.2rem;
    color: white;
}
#donate-now{
    background-color: #31A98B;
}
#join-us{
    background-color: #2C967C;
}
#get-involved{
    background-color: #26836C;
}
#get-involved:hover, #donate-now:hover, #join-us:hover {
    background-color: #37BC9B;
    cursor : pointer;
}

#cause-header{

    background-image: url("../images/pexels-ron-lach-9169661.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    background-position: 23% 23%;
    position: relative;
}

