body{
    padding: 0;
    margin: 0;
}
li span{
    margin-right: 10px;
}

.card i{
    margin: auto  20px auto auto;
}

.card-border{
    border-left: 6px solid blue;
}
/* Boostrap Override */
.container-fluid{
    padding: 0;;
}

.col-3{
    width: 20%;
}