{%extends "base.html"%}
{%load static%}

{%block title%}<title>Volunteer</title> {%endblock%}


{%block content%}

<header id="gallery-header">
    {%include 'component/navbar.html' %}
    <div class="px-5 mt-5 text-white">
        <h1>Volunteer</h1>
        {% include "component/seperator.html" %}
    </div>
</header>
<main class="container-fluid">
   
  <section id="volunteer" class="px-5 pt-5">
        <div class="row mb-5">
            <div class="col col-lg-5">
                <div class=" ratio ratio-16x9">
                    <img class="img-fluid " src="{% static '/images/pexels-lagos-food-bank-initiative-8060428.jpg' %}" alt="">
                </div>
            </div>
            <div class="col col-lg-5">
                <h3 class="mb-3">Volunteer Now</h3>
                <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat reiciendis ipsum quisquam dolorum incidunt ipsam animi asperiores sit? A delectus ex id, ducimus pariatur distinctio. Consequuntur enim molestias esse eveniet!</p>
                <button class="btn btn-info text-white">Volunter</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-5">
                <div class=" ratio ratio-16x9">
                    <img class="img-fluid " src="{% static '/images/pexels-christina-morillo-1181344.jpg' %}" alt="">
                </div>
            </div>
            <div class="col col-lg-5">
                <h3 class="mb-3">Administrative Support</h3>
                <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat reiciendis ipsum quisquam dolorum incidunt ipsam animi asperiores sit? A delectus ex id, ducimus pariatur distinctio. Consequuntur enim molestias esse eveniet!</p>
                <button class="btn btn-info text-white">Volunter</button>
            </div>
        </div>
  </section>
</main>

{%endblock%}