{%extends "base.html"%}
{%load static%}

{%block title%}<title>Donate</title> {%endblock%}


{%block content%}

<header id="donate-header">
  {%include 'component/navbar.html' %}
  <div class="px-5 mt-5 text-white">
    <h1>Donate</h1>
    {% include "component/seperator.html" %}
  </div>
</header>
<main id="donate">
  <input type="hidden" id="donationAmount" name="donationAmount">
  <section class="container">
    <div class="row pt-5 mb-5 gy-4">
      <div class="col-12 col-lg-5 mx-auto">
        <div class="bg-white py-3 px-4 rounded shadow-lg bg-body">
          <ul class="nav nav-fill nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button disabled class="nav-link active" id="pills-step1-tab" data-bs-toggle="pill"
                data-bs-target="#pills-step1" type="button" role="tab" aria-controls="pills-step1"
                aria-selected="true">Step 1</button>
            </li>
            <li class="nav-item" role="presentation">
              <button disabled class="nav-link" id="pills-step2-tab" data-bs-toggle="pill" data-bs-target="#pills-step2"
                type="button" role="tab" aria-controls="pills-step2" aria-selected="false">Step 2</button>
            </li>
            <li class="nav-item" role="presentation">
              <button disabled class="nav-link" id="pills-step3-tab" data-bs-toggle="pill" data-bs-target="#pills-step3"
                type="button" role="tab" aria-controls="pills-step3" aria-selected="false">Step 3</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-step1" role="tabpanel" aria-labelledby="pills-step1-tab">
              <div id="donate-amount" class="row mt-2 gy-2 text-center text-white">
                <div class="col-4">
                  <input type="radio" value="10" class="btn-check" name="amount" id="amount-radio-1"
                    autocomplete="off">
                  <label for="amount-radio-1" class="amount-check-lbl btn btn-info  rounded">$10</label>
                </div>
                <div class="col-4">
                  <input type="radio" class="btn-check" value="20" name="amount" id="amount-radio-2" autocomplete="off">
                  <label for="amount-radio-2" class="amount-check-lbl btn btn-info  rounded">$20</label>
                </div>
                <div class="col-4">
                  <input type="radio" class="btn-check" value="30" name="amount" id="amount-radio-3" autocomplete="off">
                  <label for="amount-radio-3" class="amount-check-lbl btn btn-info  rounded">$30</label>
                </div>
                <div class="col-4 ">
                  <input type="radio" value="100" class="btn-check" name="amount" id="amount-radio-4"
                    autocomplete="off">
                  <label for="amount-radio-4" value="40" class="amount-check-lbl btn btn-info  rounded">$40</label>
                </div>
                <div class="col-4">
                  <input type="radio" value="50" class="btn-check" name="amount" id="amount-radio-5" autocomplete="off">
                  <label for="amount-radio-5" class="amount-check-lbl btn btn-info  rounded">$50</label>
                </div>
                <div class="col-4">
                  <input type="radio" value="200" class="btn-check" name="amount" id="amount-radio-6" autocomplete="off">
                  <label for="amount-radio-6" class="amount-check-lbl btn btn-info  rounded">$200</label>
                </div>
                <div class="col-4">
                  <input type="radio" value="400" class="btn-check" name="amount" id="amount-radio-7" autocomplete="off">
                  <label for="amount-radio-7" class="amount-check-lbl btn btn-info  rounded">$400</label>
                </div>
                <div class="col-8">
                  <input value="0" type="radio" class="btn-check" name="amount" id="amount-radio-8" autocomplete="off">
                  <label type="button" for="amount-radio-8" class="amount-check-lbl btn btn-info rounded">Other</label>
                </div>
              </div>
              <div id="collapse-other" class="d-none">
                <div class="my-3 ">
                  <label for="custom-amount" class="form-label">Custom Amount</label>
                  <input type="number" class="form-control" id="custom-amount" placeholder="">
                </div>
              </div>
              <div class=" my-3 d-flex justify-content-end">
                <button id="toStep2" type="button" class="btn btn-sm btn-outline-info px-4">Next</button>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-step2" role="tabpanel" aria-labelledby="pills-step2-tab">
              <div class="row my-4">
                <div class="col-12 col-lg-6">
                  <div class="my-2">
                    <label for="first-name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first-name" placeholder="John">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <div class="my-2">
                    <label for="last-name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Doe.">
                  </div>
                </div>
                <div class="col-12">
                  <div class="my-2">
                    <label for="email-address" class="form-label">Email Address</label>
                    <input type="text" class="form-control" id="email-address" placeholder="peter@zylker.com">
                  </div>
                </div>
                <div class="col-12">
                  <div class="my-2">
                    <label for="phone-number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone-number" placeholder="(849)-3455-345">
                  </div>
                </div>

              </div>
              <div class=" my-3 d-flex justify-content-end">
                <button id="backToStep1" type="button" class="btn btn-sm btn-outline-info px-4 me-3">Back</button>
                <button id="toStep3" type="button" class="btn btn-sm btn-outline-info px-4">Next</button>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-step3" role="tabpanel" aria-labelledby="pills-step3-tab">
            
              <div class="d-grid col-10 mx-auto my-3">
                <button class="btn btn-info text-white" id="pay-with-paypal">Donate To Our Paypal Account</button>
              </div>
              <div id="paypal-btns" class="d-none">
                <div id="paypal-button-container"></div>
              </div>
              <div class="d-flex justify-content-between my-2">
                <hr class="h-rule">
                <div>
                  <p class="small">Or To Our Bank Account Below</p>
                </div>
                <hr class="h-rule">
              </div>
              <div class="d-grid col-10 mx-auto my-4">
                <button id="pay-with-card" class="btn btn-info text-white">Donate To Our Bank Account</button>
              </div>
              <div id="card-info" class="row d-none text-center">
                <h5 class="my-2">This Feature is under contruction</h5>
                <p>Please select our the paypal option</p>
              </div>
              <div class=" my-3 d-flex justify-content-start">
                <button id="backToStep2" type="button" class="btn btn-sm btn-outline-info px-4 me-3">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5  mx-auto">
        <div class="bg-white rounded py-1 px-2 shadow-lg bg-body">
          <h5>Donate</h5>
        </div>
      </div>
    </div>
  </section>
  
</main>

{%endblock%}


{% block script %}
  <script src="https://www.paypal.com/sdk/js?client-id=AcFLUxdrcPDDkvZDzfbBj-A1Oo5ml4gD6mV2lz5cZvK3QyjJJvtFMkbwwLeu2qe0Jepk3jvQHm8_7qqr&currency=USD"></script>
  <script src="{% static 'js/paypal.js' %}"></script>
{% endblock script %}