{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Cause | Detail</title>
{% endblock  %}

{% block content %}
<header id="cause-detail-header">
    {% include "component/navbar.html" %}
    <div class="px-5 mt-5 text-white">
        <h1>Cause</h1>
        {% include "component/seperator.html" %}
    </div>
</header>
<main class="container-fluid">
    <section class="row px-5 mt-5">
        <div id="detail" class="col-12 col-lg-8">
            <h3 class="mb-3">Cause Title</h3>
            <img class="img-fluid rounded mb-3" src="{% static '/images/pexels-lagos-food-bank-initiative-8060428.jpg' %}" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas dignissimos veniam eius labore similique consequatur magni, ipsum odio sed eveniet officia beatae aspernatur atque, voluptatibus autem reprehenderit accusamus soluta quidem!</p>
            <button class="btn btn-info px-5 py-2 mb-3">Donate</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique architecto odit temporibus eaque libero, voluptatibus quod ratione inventore distinctio, suscipit earum? Veniam porro illo odit perspiciatis velit, ratione dolorum aspernatur.</p>
        </div>
        <div  class="col-12 col-lg-4">
            
        </div>
        <div id="projects" class="col">
            <h3>Projects</h3>
            {% include "component/seperator.html" %}
            <div class="row gy-4">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4" onclick="goToLocation('{% url 'project:Project' %}')">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                        <div class="card-body text-center">
                            <h5 class="card-title">Project title</h5>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                            <div class="d-flex justify-content-evenly">
                                <button class="btn btn-outline-info px-4">View</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock  %}