{%extends "base.html"%}
{%load static%}

{%block title%}<title>Causes</title> {%endblock%}


{%block content%}

<header id="cause-header">
    {%include 'component/navbar.html' %}
    <div class="px-5 mt-5 text-white">
        <h1>Our Causes</h1>
        {% include "component/seperator.html" %}
    </div>

</header>
<main class="container-fluid">
    <section class="row px-5 gx-5 gy-0 mt-5">
        <div id="causes" class="col-12 col-lg-8">
            {% for cause in causes %}
            <div class="row my-2">
                <div class="col-12 col-lg-5">
                    <div class="ratio ratio-16x9">
                        <img class="img-fluid rounded" src="{{cause.image.url}}" alt="">
                    </div>
                    
                </div>
                <div class="col-12 col-lg-7">
                    <h3>{{cause.title}}</h3>
                    <p>{{cause.description|truncatechars:420}}</p>
                    <div class="d-flex">
                        <button class="btn btn-outline-info px-4 me-4" onclick="goToLocation('{% url 'cause:Detail' cause.id%}')">View</button>
                        <button class="btn btn-info text-white px-4">Donate</button>
                    </div>
                </div>
            </div>
            {%empty%}
            <h3>Nothing Yet.</h3>
        {% endfor %}
            
        </div>
        <div id="cause-category" class="col-12 col-lg-4">
            <h3>Cause Categories</h3>
            {% include "component/seperator.html" %}
            <ul class="list-unstyled">
                {% for category in categories %}
                    <li class="mb-3"><a class="text-decoration-none" href="{% url 'cause:Category' category.id%}">{{category}} ({{category.cause_set.count}})</a></li>
                    {%empty%}
                    <li>None Yet</li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>

{%endblock%}