{% extends 'Portal.html' %}
{% load static %} 

{% block content %}

    
    <div class="container-fluid">
        {% comment %} if story in context exists then update {% endcomment %}
        <form method="POST" action="{% if story %} {% url 'user:EditStory' story.id%} {% else %} {% url 'user:AddStory' %} {% endif %}"   encType="multipart/form-data" class="shadow px-5 py-3 rounded mt-3" style="width: 90%; margin: auto auto; ">
            {% csrf_token %}
            <div class="row gy-2">
                <div class="col-12">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title" {% if story %}value="{{story.title}}"{% endif %}>
                </div>
                <div class="col-12">
                    <label for="body" class="form-label">Body/Content</label>
                    <textarea class="form-control" name="body" id="body" placeholder="Body/Content" rows="8">{% if story %} {{story.content}} {% endif %}</textarea>
                </div>
                </div>
                <div class="col-12">
                    <label for="displayimage" class="form-label">Display Image</label>
                    <input class="form-control" name="display_image" type="file" id="displayimage">
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input class="btn btn-info text-white px-5" type="Submit" Value="{% if story %}Update{% else %}Add{% endif %}">
                </div>
            </div>
        </form>
        
    </div>
    
{% endblock  %}

{% block script %}
    <script>
        $(document).ready(()=>{
            $("#managestories").toggleClass("active");
        });
    </script>

{% endblock%}
