{% extends 'Portal.html' %}
{% load static %} 

{% block content %}

    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Projects</h2>
            <button class="btn btn-primary my-2" onclick="goToLocation('{% url 'user:AddProject' cause %}')">Add Project <i class="fa-solid fa-plus"></i></button>
        </div>
        <hr>
        <div class="row gy-4">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top img-fluid rounded" src="{%static 'media/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                    <div class="card-body text-center">
                        <h5 class="card-title">Project title</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aut quaerat culpa nulla ab magnam non illum ut reiciendis laudantium assumenda odit dicta alias quia</p>
                        <div class="d-flex justify-content-evenly">
                            <button class="btn btn-outline-info px-4" onclick="goToLocation('')">Edit</button>
                            <button class="btn btn-outline-info px-4" onclick="goToLocation('')">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
{% endblock  %}

{% block script %}
    <script>
        $(document).ready(()=>{
            $("#managecauses").toggleClass("active");
        });
    </script>

{% endblock%}
