{%extends "base.html"%}
{%load static%}

{%block title%}<title>Gallery</title> {%endblock%}


{%block content%}

<header id="gallery-header">
    {%include 'component/navbar.html' %}
    <div class="px-5 mt-5 text-white">
        <h1>Gallery</h1>
        {% include "component/seperator.html" %}
    </div>
</header>
<main class="container-fluid">
    <section id="images" class="row px-5 mt-5">
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
       <div  class="col-6 col-lg-4">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{%static '/images/pexels-lagos-food-bank-initiative-8060428.jpg'%}" alt="">
                <figcaption class="figure-caption">Image Caption</figcaption>
            </figure>
       </div> 
    </section>
</main>

{%endblock%}