{%extends "base.html"%}
{%load static%}

{%block title%}<title>Gallery</title> {%endblock%}


{%block content%}

<header id="gallery-header">
    {%include 'component/navbar.html' %}
    <div class="px-5 mt-5 text-white">
        <h1>Gallery</h1>
        {% include "component/seperator.html" %}
    </div>
</header>
<main class="container-fluid">
    <section id="images" class="row px-5 mt-5">
        {% for image in images %}
            <div class="col-md-6 col-lg-4">
                <a href="{% url 'project:Project' image.project.pk %}">
                    <div class="ratio ratio-16x9">
                        <img class="figure-img img-fluid rounded" src="{{image.image.url}}" alt="{{image.caption}}">
                    </div>
                </a>
                <figure class="figure">
                    <figcaption class="figure-caption fw-bold">{{image.caption}}</figcaption>
                </figure>
            </div>
            {%empty%}
            <h4>Nothing Yet. Images of Our Work Coming Soon</h4>
        {% endfor %}
    </section>
</main>

{%endblock%}