{%extends "base.html"%}
{%load static%}

{%block title%} <title>Login</title> {%endblock%}


{%block content%}

<header id="about-header">
    {% include "component/navbar.html" %}
    <div class="px-5 mt-5 text-white">
        <h1>Login</h1>
        {% include "component/seperator.html" %}
    </div>
</header>
<main>

    <form class="shadow p-5 container my-5" action="{% url 'Login' %}" method="post" style="margin: auto auto; width: 50%;" >
        {% csrf_token %}
        <div class="text-center">
            <h3>Administration</h3>
        </div>
        <div class="row gy-3">
            <div class="col-12 ">
                <label for="email" class="form-label">User Name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="">
            </div>
            <div class="col-12 ">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="">
            </div>
        </div>
        <input type="submit" class="btn btn-info text-white px-4 mt-3" value="Login">
    </form>
</main>


{%endblock%}